.user_sign_up_header
  = render "items/icon_header"
  .user_sign_up_main
    %section.content_box
      %h2.top_registration 新規会員登録

      .registration_form
        .registration_form__contents
          = link_to users_signup_registration_path,class:"btn_mail" do
            %i.far.fa-envelope
            メールアドレスで登録する
          %button#facebook-login.btn-default.btn_facebook
            %i.fab.fa-facebook-square
            facebookで登録する
          %button#google-login.btn-default.btn_googl
            %i.fab.fa-google
            Googlで登録する
  
  .user_sign_footer
    = render "items/icon_footer"