.bottom_image

  .bottom_image__main_box
  
    .bottom_image__main_box__title
      スマホでかんたんフリマアプリ

    .bottom_image__main_box__sub_title
      今すぐ無料ダウンロード！

    .bottom_image__main_box__app_download

      .bottom_image__main_box__app_download__icon
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.82 84.08"><defs><style>.cls-1{fill:#dc4912;stroke:#fff;stroke-miterlimit:10;}</style></defs><title>アセット 5</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><polygon class="cls-1" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/><polyline class="cls-1" points="0.5 21.31 36.41 42.04 72.32 21.31"/><polyline class="cls-1" points="36.41 83.5 36.41 49.36 36.41 42.04"/><line class="cls-1" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/><line class="cls-1" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/></g></g></svg>

      .bottom_image__main_box__app_download__icons
        .bottom_image__main_box__app_download__icons__ios
          <a href="https://apps.apple.com/jp/app/%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA-%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA-%E3%82%B9%E3%83%9E%E3%83%9B%E6%B1%BA%E6%B8%88%E3%83%A1%E3%83%AB%E3%83%9A%E3%82%A4/id667861049?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2013-07-22&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"></a>

        .bottom_image__main_box__app_download__icons__google
          <a href='https://play.google.com/store/apps/details?id=com.kouzoh.mercari&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg" alt="" style="user-select: auto;"></a>



  .bottom_image__right_content