.footer
  .footer__contents
    .footer__contents__about
      .footer__contents__about__title
        フリマについて
      .footer__contents__about__company_info
        会社概要(運営会社)
      .footer__contents__about__recruit
        採用情報
      .footer__contents__about__press
        プレスリリース
      .footer__contents__about__brog
        公式ブログ
      .footer__contents__about__guideline
        フリマロゴ利用ガイドライン
      .footer__contents__about__icons
        %a.fab.fa-twitter{href: "https://twitter.com/"}
        %a.fab.fa-facebook-square{href: "https://www.facebook.com"}


    .footer__contents__help
      .footer__contents__help__title
        ヘルプ&ガイド
      .footer__contents__help__help_list
        %ul.help_list
          %li.help_list__a_hlpe フリマガイド
          %li.help_list__a_hlpe らくらくフリマ便
          %li.help_list__a_hlpe ゆうゆうフリマ便
          %li.help_list__a_hlpe 大型フリマ便
          %li.help_list__a_hlpe 車体取引ガイド
          %li.help_list__a_hlpe フリマあんしん・あんぜん宣言！
          %li.help_list__a_hlpe 偽ブランド品撲滅への取り組み
          %li.help_list__a_hlpe フリマボックス

    .footer__contents__privacy
      .footer__contents__privacy__title
        プライバシーと利用規約
      .footer__contents__privacy__privacy_list
        %ul.privacy_list
          %li.privacy_list__a_privacy プライバシーポリシー
          %li.privacy_list__a_privacy フリマ利用規約
          %li.privacy_list__a_privacy あんしんスマートサポート制度に関する利用特約
          %li.privacy_list__a_privacy コンプライアンスポリシー

      .footer__contents__privacy__privacy_list
        %ul.privacy_list
          %li.privacy_list__a_privacy 個人データの安全管理に係る基本方針
          %li.privacy_list__a_privacy 特定商取引に関する表記
          %li.privacy_list__a_privacy 資金決済に基づく表示
          %li.privacy_list__a_privacy 法令順守と犯罪防止の為に

    .footer__contents__states_choice
      .footer__contents__states_choice__title
        国
      .footer__contents__states_choice__states_list
        %ul.states_list
          %li.states_list__state 日本
          %li.states_list__state United States

  .footer__bottom_contents
    .footer__bottom_contents__footer_box
      .footer__bottom_contents__footer_box__footer_logo
        = link_to image_tag('/icon/fmarket_logo_white.svg' ), "/"
      .footer__bottom_contents__footer_box__footer_lnc
        © Freemarket, Inc.
