.seller_btn
  = link_to new_item_path,data: {"turbolinks" => false}, class: "seller_btn" do

    .seller_btn__box
      .seller_btn__box__name
        出品
      .seller_btn__box__icon
        <i class="fas fa-camera"></i>

  = link_to new_item_path,data: {"turbolinks" => false}, class: "" do

    .__box
      .__box__name
        出品
      .__box__icon
        <i class="fas fa-camera"></i>
