.seller_btn
  = link_to new_item_path, class: "seller_btn",data: {"turbolinks" => false} do
    .seller_btn__box
      .seller_btn__box__name
        出品
      .seller_btn__box__icon
        <i class="fas fa-camera"></i>