.top_image
  %ul.slider
    %li
      = image_tag("/icon/top-image1.jpeg", height: "450px", width: "100%")  
    -# %li
    -#   = image_tag("/icon/top-image2.jpeg", height: "450px", width: "100%")
    -# %li
    -#   = image_tag("/icon/top-image3.png", height: "450px", width: "100%")

    -# .top_image__main_box
    -#   .top_image__main_box_1
        
    -#     .top_image__main_box__title
    -#       スマホで かんたん 
    -#       %brフリマアプリ
    -#     .top_image__main_box__sub_title
    -#       フリマはスマホカメラですぐに出品できる
    -#       %br購入時も安心な独自システムのアプリです

    -#     .top_image__main_box__app_download

    -#       .top_image__main_box__app_download__ios
    -#         <a href="https://apps.apple.com/jp/app/%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA-%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA-%E3%82%B9%E3%83%9E%E3%83%9B%E6%B1%BA%E6%B8%88%E3%83%A1%E3%83%AB%E3%83%9A%E3%82%A4/id667861049?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2013-07-22&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"></a>

    -#       .top_image__main_box__app_download__google
    -#         <a href='https://play.google.com/store/apps/details?id=com.kouzoh.mercari&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg" alt="" style="user-select: auto;"></a>


  %div{id: "arrows"}
    .slick-next
      = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png")
    .slick-prev
      = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png")      