.mypage_index{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mypage_html{
  margin: 20px 14%;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mypage_side_content{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  padding-top: 40px;
}

.mypage_nav_list li {
  border-top: 1px solid #eee;
}

.mypage_side_content__nav_list_item {
  position: relative;
  display: block;
  min-height: 48px;
  padding: 16px;
  background:  white;
  font-size: 14px;
  color: black;
}
.mypage_side_content__nav_list__merpay{
  font-size: 16px;
  margin: 40px 0 0;
  font-weight: bold;
}
.mypage_side_content__nav_list__setup{
  font-size: 16px;
  margin: 40px 0 0;
  font-weight: bold;
}




.fa-chevron-right{
  display: inline-block;
  position: absolute;
  top: 23px;
  right: 15px;
}
li{
  border-top: 1px solid #eee;
}

.mypage_icon{
  background-image: url(/images/mypage_icon.jpeg);
  height: 60px;
  width: 60px;
}

//メイン
.item_screen {
  width: 700px;
  height: 500px;
  float:right;
  margin-top: 40px;
  margin-right: 150px;
  position: relative;

  &__body_header{
  background-color: white;
  height: 80px;
  width: 700px;
  padding :0px 16px;
  font-weight: bold;
  line-height: 72px;
 }

 &__tag {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-decoration: none;

 &__on{
  width: 233px;
  line-height: 72px;
  font-weight: bold;
  color: black;
  border-top: 2px solid #ea352d;
  background-color: white;
 }
 
 &__off{
  width: 233px;
  line-height: 72px;
  font-weight: bold;
  color: black;
  border-top: 2px solid #ececec;
  background-color: #ececec;
 }

 &__off{
  width: 233px;
  line-height: 72px;
  font-weight: bold;
  color: black;
  border-top: 2px solid #ececec;
  background-color: #ececec;
 }
 }

 &__items{
  height: 70px;
  padding: 16px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #ececec;
  background: white;
&__img{
  background-color: black;
  float: left;
  height: 48px;
  width: 48px;
  margin-right: 16px;
}

  &__name{
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    margin: 2px 16px 8px 0;
    color: black;

  }
 }

 &__items{
  height: 70px;
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #ececec;
  &__img{
    background-color: black;
    float: left;
    height: 48px;
    width: 48px;
    margin-right: 16px;
  }

  &__name{
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  margin: 2px 16px 8px 0;
  color: black;
  }
 }

 &__items{
  height: 70px;
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #ececec;
  &__name{
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  margin: 2px 16px 8px 0;
  color: black;
  }

  &__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 300px;
  }
 }

 &__items{
  height: 70px;
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #ececec;

  &__name{
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  margin: 2px 16px 8px 0;
  color: black;
  }
  &__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    width: 300px;
  }
 }

 &__items{
  height: 70px;
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #ececec;

  &__name{
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  margin: 2px 16px 8px 0;
  color: black;
  }

  &__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    width: 300px;
    &__comment {
    color: #aeaeae;
    margin-left: 10px;
    }

    &__selling{
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    margin-left: 6px;
    padding: 5px 6px;
    border-radius: 3px;
    background-color: #0099e8;
    float: left;
    }
  }
 }
}
