.edit_mypage
  .edit_mypage__contents
    .edit_mypage__contents__edit
    .edit_mypage__contents__or
    .edit_mypage__contents__stop
    .edit_mypage__contents__delete
  .edit_mypage__content
    .edit_mypage__content__caution
    .edit_mypage__content__fill
    .edit_mypage__content__comment



