.edit_mypage
  .edit_mypage__contents
    .edit_mypage__contents__edit
      商品の編集
    .edit_mypage__contents__or
      or
    .edit_mypage__contents__stop
      出品を一旦停止する
    .edit_mypage__contents__delete
      この商品を削除する
  .edit_mypage__content
    .edit_mypage__content__caution
      コメント
    .edit_mypage__content__fill
    .edit_mypage__content__comment
      コメントする



