.mypage
  = render "items/sheard/header"

  .mypage_html
    .mypage_index
      = render "side_content"

    .logout
      .logout__main
        .logout__main__btn
          %p ログアウト

  %section
    = render "items/sheard/bottom_image"
    = render "items/sheard/footer"