%footer.icon_footer
  %nav.link
    %ul.link
      %li 
        %a.info{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
      %li
        %a.info{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
      %li
        %a.info{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
        
  .icon_footer__logo
    = image_tag '/icon/logo_gray.svg'
  