
.item_html
  = render "/items/sheard/header"

  %section
  = render "/items/sheard/item_detail"
  %section
  .message_container
    .message_content
      .message_items
        .message-user
          .fas.fa-user-circle
        .message_body
          .message_body_text
            すみません。アウトソールは何センチになりますか？
            サイズを確認したいのですが？
            .message_icon
              .message_icon_left
                .icon-time
                  %i.far.fa-clock
                  %span
                    5日前
              .message_icon_right
                %i.far.fa-flag

    .message_content
      .message_content__box
        .message_content__box__form
          %p.attention
            相手のことを考え丁寧なコメントを心がけましょう。
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .message_content__box__form__textarea
          .message_content__box__form__submit
            コメントする

    .next_or_back
      .previous_product.items-link_to
        < バッグ レディース
      .next_product.items-link_to
        メンズ シューズ >


    .item-snsbox
      .sns
        .facebook
        %i.fab.fa-facebook-square
        .twitter
        %i.fab.fa-twitter-square
        .line
        %i.fab.fa-line
        .pinterest
        %i.fab.fa-pinterest-square

  %section
  .items_show
    .item_show__name nicknameさんのその他の出品

    .item_show__list
      .item_show__list__box
        .item_show__list__box__image

        .item_show__list__box__detail
          gladhand シューズ

        .item_show__list__box__container
          .item_show__list__box__container__price
            ¥33000
          %i.far.fa-heart
            3
  %section
  .item_bread_crumbs
    %ul.home
      %li.item_name   メルカリ > グラッドハンド リーガル サドルシューズ ブラック gladhandREGA

  %section
  = render "/items/sheard/bottom_image"
  = render "/items/sheard/footer"
