
.item_html
  %section
  .item__details
    %h2.item_name
      グラッドハンド リーガル　サドルシューズ　ブラック　gladhandREGAL
    .item__details__main_content
      .item__details__main_content_boxes
        .main_photo
          .photos
          .small_photos
            .small_photo
        %table.item_detail_table
          %tbody
            %tr
              %th 出品者
              %td
                .seller_name chanken
                .user_rating
                  .item_user_ratings
                  %i.fas.fa-laugh
                  %span 131
                  .item_user_ratings
                  %i.fas.fa-meh
                  %span 3
                  .item_user_ratings
                  %i.fas.fa-frown
                  %span 1
            %tr
              %th カテゴリー
              %td
                .item_category
                  .item_category_top
                  %span メンズ
                  .item_category_middle
                  %span &lt; 靴
                  .item_category_bottom
                  %span &lt; その他
            %tr
              %th ブランド
              %td グラッドハンド
            %tr
              %th 商品サイズ
              %td 25.5cm
            %tr
              %th 商品の状態
              %td 目立った傷や汚れなし
            %tr
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %th 配送の方法
              %td ゆうゆうメルカリ便
            %tr
              %th 発送元地域
              %td 福岡県
            %tr
              %th 発送日の目安
              %td 1~2日で発送
      .item_price_box
        %span.item_price ¥30,000
        %span.item_tax (税込)
        %span.item_shipping_fee 送料込み
      .item_buy_btn
        購入画面に進む
      .shipping_note_message
        この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。

      .item_description
        正規店にて購入し、着用回数は5回程です。
        使用後にはブラッシングしておりましたので、目立つ傷はなく、ソールとともに問題ありません。
        サイズは25.5cmであり、当方はコンバースやニューバランス等のサイズは26.5cmですが、丁度いい感じでした。
        付属のブラックの靴紐もございます。

        細かい傷等は画像にてご確認お願いします。
        
        .item_button_container
          .item_button
            .item_button_left
              .fas.fa-heart いいね
            .item_button_right
              .fas.fa-flag  不適切な商品の報告
          .item_text
            .fas.fa-unlock-alt  あんしん・あんぜんへの取り組み


  %section
    .message-container {
      
    }
            
          