.main
  .main__profile
    プロフィール
  .main__background
    .main__background__contents
      .main__background__contents__icon
        %i.far.fa-smile
      .main__background__contents__input
        名前の記入
  .main__text
    テスト
  .main__btn
    変更する
  

