.bottom_image {
  background-image: url(/images/phone-690091_1920.jpg);
  height: 250px;
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__main_box {
    height: 90%;
    width: 33%;
    padding: 20px;

    &__title {
      font-size: 24px;
      font-weight: bolder;
      padding-top: 5px;
    }

    &__sub_title {
      height: 35%;
      font-size: 35px;
      font-weight: 400;
    }

    &__app_download {
      height: 15%;
      display: flex;

      &__icon {
        width: 60px;
      }

      &__icons {
        padding: 14px;
        display: flex;

        &__ios {
        }
  
        &__google {
          font-size: 20px;
          margin-left: 8px;
        }
      }
      
    }
  }

  &__right_content {
    background-color: cornflowerblue;
    background-image: url(/images/iphone-410311_1280.jpg);
    background-size: cover;
    height: 100%;
    width: 300px;
  }
}