.item {
  width: 49%;
  margin: 0 auto;
  background-color: white;

  &__title {
    height: 100px;
    display: flex;
    align-items: center;

    .edit_title {
      margin: 0 auto;
      font-size: 25px;
      font-weight: 600;
    }
  }

  .edit_ul {
    display: flex;
    font-size: 15px;
    padding-left: 40px;

    .required__icon {
      display: inline;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: white;
      font-size: 12px;
      vertical-align: top;
      background: #ea352d;
    }
  }
  .max_10 {
    font-size: 13px;
    padding-left: 40px;
  }

  &__img {

    &__dropzone {
      padding: 0px 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      #preview {
        display: flex;
        justify-content: space-around;


        .add_img {
          padding: 4px;
          width: 116px;
          border: 1px dashed #ccc;

          .img_area {
            background: #f5f5f5;
            padding: 20px 0px;
          }

          .btn_wrapper {
            display: flex;
            justify-content: space-around;
            background: #f5f5f5;
            padding-top: 15px;

            .btn_edit {
              color: #4cd0cd;
            }

            .btn_delete {
              color: #4cd0cd;
            }
          }
        }

        .image {
          width: 100%;
        }
      }

      &__input {
        background: #f5f5f5;
        border: 1px dashed #ccc;

        .input-area {
          display: none;
        }

        &__description {  
          height: 162px;
          position: relative;
          cursor: pointer;

          &__text {
            position: absolute;
            top: 46%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            pointer-events: none;
            word-wrap: break-word;
          }
        }
      }
    }

    &__dropzone2 {
      padding: 0px 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      #preview2 {
        display: flex;
        justify-content: space-around;

        .add_img {
          width: 116px;
          padding: 4px;
          border: 1px dashed #ccc;

          .img_area {
            background: #f5f5f5;
            padding: 20px 0px;
          }

          .btn_wrapper {
            display: flex;
            justify-content: space-around;
            background: #f5f5f5;
            padding-top: 15px;

            .btn_edit {
              color: #4cd0cd;
            }

            .btn_delete {
              color: #4cd0cd;
            }
          }
        }

        .image {
          width: 100%;
        }
      }

      &__input2 {
        background: #f5f5f5;
        border: 1px dashed #ccc;
        width: 100%;

        .input-area {
          display: none;
        }

        &__description {  
          height: 162px;
          position: relative;
          cursor: pointer;

          &__text {
            position: absolute;
            top: 46%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            pointer-events: none;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}