.item_screen__tag__off_sold{
  width: 233px;
  line-height: 72px;
  font-weight: bold;
  border-top: 2px solid #ececec;
  background-color: #ececec;
}

.link_my_items{
  text-decoration: none;
  color: black;
}

.item_screen__tag__on_sold{
  width: 233px;
  line-height: 72px;
  font-weight: bold;
  color: black;
  border-top: 2px solid #ea352d;
  background-color: white;
}