.search-container {
  position: relative;
  margin: 40px auto 0;
  width: 1020px;
  display: flex;
}
.l-side {
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
}
.search_extend_container {
  position: relative;
  padding-bottom: 40px;
}
.search_sort{
  opacity: 1;
  position: static;
  width: auto;
  padding: 16px;
  background-color: white;
}
.search-dropdown-content {
  position: static;
  display: block;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 16px;
}
.search-dropdown-content h3 {
  font-size: 16px;
}

.search_form_group{
  margin: 40px 0 0;
  position: static;
  display: block;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 16px;
  background-color: white;
}
.search-form_label {
  display: block;
}

.right_content_main{
  float: right;
  width: 700px;
}
.search_result_head{
  font-size: 22px;
  margin: 0 0 8px;
  font-weight: 600;
}
.search_result_nil{
  padding-top:15px;
  font-weight: bolder;
}
.search_result_number{
  font-size: 22px;
}