
.item_html{

}

.item__details {
  width: 600px;
  height: 800px;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  padding: 24px 40px;
}

.item_name {
  font-size: 24px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.4;
}
.item__details__main_content {
  margin: 16px 0 0;
}
.item__details__main_content_boxes {
  background: white;
  height: 450px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.main_photo {
  padding-right: 8px;
}

.photos {
  background-image: url(/images/item_sample.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
}
.small_photos {
  background: red;
  height: 120px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.small_photo {
  background: black;
  height: 60px;
  width: 60px;
  padding: 0;
  margin: 0;
}

table.item_detail_table {
  float: right;
  height: 380px;
  width: 300px;
  text-align: center;
}
table.item_detail_table {
  float: right;
  height: 380px;
  width: 300px;
  text-align: center;
}
th, td {
  border: 1px solid #888585;
  border-collapse: collapse;
  padding: 9px;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
}
th {
  background-color:  #d3d2d2;
}
.user_rating {
  display: flex;
  justify-content: space-between;
}
.item_user_ratings{
  height:45px;
}
.item_price_box {
  margin: 24px 0 0;
  text-align: center;
}
.item_price {
  margin: 0 16px 0 0;
  font-size: 50px;
}
.item_tax {
  font-size: 10px;
}
.item_price_box{
  text-align: center;
}