#active_3{
  color: #ea352d;
  .progress-status{
    background: #ea352d;
  }
  .progress-status_bar{
    background: #ea352d;
  }
}

#address_3{
    color: #ea352d;
    .progress-status{
      background: #ea352d;
    }
}