#address_4{
  color: #ea352d;
  .progress-status{
    background: #ea352d;
  }
  .progress-status_bar{
    background: #ea352d;
  }
}

#payment_4{
  color: #ea352d;
  .progress-status{
    background: #ea352d;
  }
}
