#payment_5{
  color: #ea352d;
  .progress-status{
    background: #ea352d;
  }
  .progress-status_bar{
    background: #ea352d;
  }
}

#end_5{
  color: #ea352d;
  .progress-status{
    background: #ea352d;
  }
}