.top_image {
  position: relative;
  width:100%;
  background-image: url(/icon/top-image1.jpeg);           
  background-size:auto;     
  background-position:right ;            
  height: 450px;
  display: flex;
  align-items: center;
  &__main_box {
    height: 90%;
    width: 53%;
    margin: 0 auto;


    &__title {
      height: 47%;
      font-size: 60px;
      font-weight: bolder;
      padding-top: 5px;
    }

    &__sub_title {
      height: 35%;
      font-size: 18px;
      padding: 40px 0 5px 0;
      font-weight: bold;
    }

    &__app_download {
      height: 15%;
      display: flex;


      &__google {
        font-size: 20px;
        margin-left: 8px;
      }
    }
  }
}

.slider{
  position: absolute;
  top: 0;
  // background-size:auto;     
  // background-position:right ;            
  // height: 100px;
  width: 100%;
}

.top_image__main_box_1{
  width: 50%;
  margin-left: 300px;
  position: absolute;
  top: 20px;
}

.top_image__main_box{
  position: relative;
  height: 100%;
  width: 100%;
}